table
{
    font-family: verdana,arial,sans-serif;
    font-size:15px;
    color:#333333;
    border-collapse: collapse;
    border: 1px solid black;
    line-height: 25px;
}

table td
{
    border: 1px solid black;
}

.title
{
    float:left;
    font-family: verdana,arial,sans-serif;
    font-size:20px;
    color:#CCFFFF;
    border: 0px ;
    display: inline-block;
    background-color:#006699;
    text-align:left;
    width:100%;
    margin-bottom:8px;
    font-weight:bold;
}

.counter
{
    color:#006699;
    background-color:#CCFFFF;
    display: inline-block;
    width: 60px;
    text-align:center;
}


.container
{
    float:left;
    display: inline-block;
    
}

body {
    width: 820px;
    margin: 0 auto;
    background-color:#00CCCC;
}

.group_div
{
    border: 1px solid black;
    overflow:hidden; 
    background-color:#996666;
}

.limitation_span
{
    float:left;
    border:1px solid gray;
    margin-left:5px;
    margin-bottom:25px;
    background-color:#ddd;
    
}

.tickets_view
{
    color:black;
    background-color:white;
}

.race_number
{
    border: 0px;
    background:#555555;
    color:white;
}

.limitation_button
{
    border: 0px solid black;
    background:#ddd;
}

.limitation_selected_button
{
    border: 0px solid black;
    background:red;
    font-weight:bold;
}


.matches_counter_unselected
{
    border: 0px;
    background:#778899;
    color:#696969;
    
}

.matches_counter_selected
{
    border: 0px;
    background:blue;
    color:white;
    font-weight:bold;
    
}


.matching_table
{
    font-family: verdana,arial,sans-serif;
    font-size:15px;
    color:#ddd;
    background-color:#778899;
    border: 0px ;
    line-height: 25px;
    width:100%;
}

.matching_table td
{
    border: 0px;
}

.group_matching
{
    font-family: verdana,arial,sans-serif;
    font-size:15px;
    background:#996666;
    display: inline-block;
    width: 300px;
    text-align:left;
    float: right;
    height:30px;
    padding-left:5px;

}

